# Ignore Python virtual environments
venv/
.env

# Ignore Python cache files
**/__pycache__/
**/*.pyc

# Frontend
# Ignore frontend dependencies and build output
frontend/node_modules/
frontend/build/
frontend/dist/

# Ignore Docker-related files
Dockerfile*
docker-compose*

# Git
.git
.gitignore
README.md

# Project specific
db.sqlite3

